.category-list {
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .category-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .category-item h2 {
    margin: 0;
    font-size: 1.5em;
    color: #333;
  }
  
  .category-item p {
    margin: 5px 0;
    color: #555;
  }
  