@import './Common.css';
.category-list {
    width: 80%;
    margin: 20px auto;
  }
  
  .error-message {
    color: red;
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  
  .category-item {
    border: 1px solid #ccc;
    padding: 16px;
    margin: 8px 0;
    width: 100%;
    text-align: left;
    background-color: var(--background-color-light);
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  .category-item:hover {
    background-color: var(--background-color-hover);
    border-color: var(--border-color-hover);
  }
  
  .category-item h2 {
    margin-bottom: 10px;
  }
  
  .category-item p {
    margin: 5px 0;
  }
  