.home-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
  }
  
  .centered-content {
    margin-bottom: 20px;
  }
  
  .enter-button {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #ff00ff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .enter-button:hover {
    background-color: #cc00cc;
  }
  
  .category-list {
    width: 80%;
    margin-top: 20px;
  }
  
  .category-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
  }
  
  .category-item h2 {
    margin: 0;
    font-size: 1.5em;
    color: #333;
  }
  
  .category-item p {
    margin: 5px 0;
    color: #555;
  }
  